@model IEnumerable<MCQ.Models.Question>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "- Xóa câu hỏi";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutTeacher.cshtml";
}

<h1>Danh sách câu hỏi</h1>


<form method="post" asp-action="DeleteQuestion">
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="idQuestion" value="@item.IdQuestion" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="btn btn-danger" type="submit">Xóa</button>
</form>
