@model MCQ.Areas.Teacher.ViewModel.QuestionViewModel
@{
    ViewData["Title"] = "Chỉnh sửa câu hỏi";
    Layout = "~/Areas/Teacher/Views/Shared/_LayoutTeacher.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@* @{
    int count = 0;
} *@
<h4>Question</h4>
<hr />
<div class="col-md-12">
    <form asp-action="EditQuestion" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <h3>Các câu hỏi ở mức độ 1</h3>
        @for (int i = 0; i < Model.questionsList.Count(m=>m.Level == 1); i++)
        {
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="@Model.questionsList[i].Title" class="control-label"></label>
                    <input asp-for="@Model.questionsList[i].Title" class="form-control txtContent"/>
                    <div>
                        <input asp-for="@Model.questionsList[i].IdQuestion" type="hidden" value="@Model.questionsList[i].IdQuestion" />
                        <input asp-for="@Model.questionsList[i].IdSubject" type="hidden" value="@Model.questionsList.Select(m=>m.IdSubject).First()" />
                        <input asp-for="@Model.questionsList[i].LinkImage" type="hidden" value="@Model.questionsList[i].LinkImage" />
                        <input asp-for="@Model.questionsList[i].Level" type="hidden" value="1" />
                    </div>
                    <span asp-validation-for="@Model.questionsList[i].Title" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    @{
                        // vi du level1 cos 2 câu hỏi
                        int startLevel1 = i * 4;
                        int endLevel1 = (i + 1) * 4;
                        for (int j = startLevel1; j < endLevel1; j++)
                        {
                            <div class="row">
                                <span style="margin-bottom:8px" class="col-6">@((char)('A' + j % 4))</span>
                                <input asp-for="@Model.answersList[j].AnswerTitle" class="form-control col-6">
                                <input type="checkbox" asp-for="@Model.answersList[j].Key" onchange="handleChange(this)" />
                                <div>
                                    <input asp-for="@Model.answersList[j].IdAnswer" type="hidden" value="@Model.answersList[j].IdAnswer" />
                                    <input asp-for="@Model.answersList[j].IdQuestion" type="hidden" value="@Model.answersList[j].IdQuestion" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <hr />
        }

        <h3>Các câu hỏi ở mức độ 2</h3>
        @for (int i = Model.questionsList.Count(m => m.Level == 1); i < Model.questionsList.Count(m => m.Level == 1) + Model.questionsList.Count(m => m.Level == 2); i++) // start: i = 2;i<4
        {
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="@Model.questionsList[i].Title" class="control-label"></label>
                    <input asp-for="@Model.questionsList[i].Title" class="form-control" />
                    <div>
                        <input asp-for="@Model.questionsList[i].IdQuestion" type="hidden" value="@Model.questionsList[i].IdQuestion" />
                        <input asp-for="@Model.questionsList[i].IdSubject" type="hidden" value="@Model.questionsList.Select(m=>m.IdSubject).First()" />
                        <input asp-for="@Model.questionsList[i].LinkImage" type="hidden" value="@Model.questionsList[i].LinkImage" />
                        <input asp-for="@Model.questionsList[i].Level" type="hidden" value="2" />
                    </div>
                    <span asp-validation-for="@Model.questionsList[i].Title" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    @{
                        int startLevel2 = i * 4;
                        int endLevel2 = (i + 1) * 4;
                        for (int j = startLevel2; j < endLevel2; j++) // startLevel2 = 8; endLevel2 = 12
                        {
                            <div class="row">
                                <span style="margin-bottom:8px" class="col-6">@((char)('A' + j % 4))</span>
                                <input asp-for="@Model.answersList[j].AnswerTitle" class="form-control col-6">
                                <input type="checkbox" asp-for="@Model.answersList[j].Key" onchange="handleChange(this)" />
                                <div>
                                    <input asp-for="@Model.answersList[j].IdAnswer" type="hidden" value="@Model.answersList[j].IdAnswer" />
                                    <input asp-for="@Model.answersList[j].IdQuestion" type="hidden" value="@Model.answersList[j].IdQuestion" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }

        <h3>Các câu hỏi ở mức độ 3</h3>
        @for (int i = Model.questionsList.Count(m => m.Level == 1) + Model.questionsList.Count(m => m.Level == 2); i < Model.questionsList.Count(m => m.Level == 1) + Model.questionsList.Count(m => m.Level == 2) + Model.questionsList.Count(m=>m.Level == 3); i++)
        {
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="@Model.questionsList[i].Title" class="control-label"></label>
                    <input asp-for="@Model.questionsList[i].Title" class="form-control" />
                    <div>
                        <input asp-for="@Model.questionsList[i].IdQuestion" type="hidden" value="@Model.questionsList[i].IdQuestion" />
                        <input asp-for="@Model.questionsList[i].IdSubject" type="hidden" value="@Model.questionsList.Select(m=>m.IdSubject).First()" />
                        <input asp-for="@Model.questionsList[i].LinkImage" type="hidden" value="@Model.questionsList[i].LinkImage" />
                        <input asp-for="@Model.questionsList[i].Level" type="hidden" value="3" />
                    </div>
                    <span asp-validation-for="@Model.questionsList[i].Title" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    @{
                        int startLevel3 = i * 4;
                        int endLevel3 = (i + 1) * 4;
                        for (int j = startLevel3; j < endLevel3; j++) // startLevel2 = 8; endLevel2 = 12
                        {
                            <div class="row">
                                <span style="margin-bottom:8px" class="col-6">@((char)('A' + j % 4))</span>
                                <input asp-for="@Model.answersList[j].AnswerTitle" class="form-control col-6">
                                <input type="checkbox" asp-for="@Model.answersList[j].Key" onchange="handleChange(this)" />
                                <div>
                                    <input asp-for="@Model.answersList[j].IdAnswer" type="hidden" value="@Model.answersList[j].IdAnswer" />
                                    <input asp-for="@Model.answersList[j].IdQuestion" type="hidden" value="@Model.answersList[j].IdQuestion" />
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        }

        <div class="form-group">
            <input id="btnClick" type="submit" value="Lưu" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    function handleChange(checkbox) {
        if (checkbox.checked) {
            checkbox.value = "true";
        } else {
            checkbox.value = "false";
        }
    }
</script>
@* Convert text to image *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnClick").click(function () {
            $(".imgContainer").empty(); // Xóa bỏ hình ảnh cũ trước khi tạo mới

            var textContents = []; // Danh sách để lưu trữ nội dung của các vùng văn bản

            // Lấy nội dung của từng vùng văn bản và thêm vào danh sách
            $(".txtContent").each(function () {
                textContents.push($(this).val());
            });

            // Gửi yêu cầu AJAX cho mỗi nội dung trong danh sách
            textContents.forEach(function (text, index) {
                var dataObject = { text: text };
                $.ajax({
                    url: '/Convert/GetText',
                    data: JSON.stringify(dataObject),
                    type: "POST",
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function (result) {
                        // Hiển thị hình ảnh theo thứ tự của danh sách
                        $(".imgContainer").append('<img src="' + result + '" alt="Image ' + (index + 1) + '">');
                    },
                    error: function (xhr, status, error) {
                        console.error("Error:", error);
                    }
                });
            });
        });

        // Bắt sự kiện khi nhấn nút để lấy danh sách ảnh
        $("#btnGetImages").click(function () {
            $.ajax({
                url: '/NewController/GetImages',
                type: "GET",
                dataType: 'json',
                success: function (result) {
                    // Xử lý danh sách các tệp ảnh đã được trả về
                    console.log(result);
                },
                error: function (xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        });
    });
</script>